html {background-color: white;}
body {background-color: ivory;}
video {width: 100%; height: 200%;}
a {text-decoration: none; color: black; animation: glowing 1300ms infinite; cursor: pointer; position: absolute; right: 20px; bottom: -680px;}
@keyframes glowing {
    0% {background-color: red; box-shadow: 0 0 10px red;}
    50% {background-color: lightcoral; box-shadow: 0 0 25px lightcoral;}
    100% {background-color: red; box-shadow: 0 0 10px red;}
}
.html {background-color: white;}
.body {background-color: white;}
.p {position: absolute; bottom: 500px; left: 410px; font-size: 70px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.img {width: 100%; height: 200%;}
.p1 {position: absolute; left: 15px; bottom: -1140px; color: blue; font-weight: bold; font-size: 15px;}
header {position: absolute; left: 130px; bottom: -730px; color: white; font-size: 30px;}
